@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  font-family: "Instrument Sans", sans-serif;
}

body{
  background: #F7DCE3  !important;
}

.button-black {
  background-color: #2C2C2C
}